*{
    padding: 0px;
    margin: 0px;

    font-family: 'Poppins', sans-serif!important;

    user-select: none!important;
    -webkit-user-select: none!important;
    -webkit-user-drag: none!important;
    -webkit-tap-highlight-color: transparent;


    overflow-y: scroll; /*firefox*/
    scrollbar-width: none; /* internet explorer 10+*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

}

*::-webkit-scrollbar{
    width: 0 !important;
    display: none!important;
}

html{
    overflow-y: scroll; /*firefox*/
    scrollbar-width: none; /* internet explorer 10+*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar{
    width: 0 !important;
    display: none!important;
}

body{
    /*Disables pull to refresh and overscroll glow effect. still keeps swipe navigations*/
    /*overscroll-behavior-y: contain;*/
    background: #f1f3f6;

    overflow:hidden; /*firefox*/
    scrollbar-width: none; /* internet explorer 10+*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar{
    width: 0 !important;
    display: none!important;
}

.super_app_app_body{
    width: 100%;
    /*min-width: 240px;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    overflow-y: scroll; /*firefox*/
    scrollbar-width: none; /* internet explorer 10+*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.super_app_app_body::-webkit-scrollbar{
    width: 0 !important;
    display: none!important;
}

.super_app_app_navbar{
    position: sticky;
    top: 0;
    min-height: 52px;
    width: 100%;
    background:#0099ff;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 40%);
    z-index: 9;
}

.super_app_title{
    color: #fff;
    font-size: 23px;
    text-align: left;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: fit-content;
    width: fit-content;

    margin: auto 0px;
    margin-left: 15px;
}

.super_app_menu_dots{
    position: absolute;

    top:    0px;
    bottom: 0px;
    right:  0px;
    margin: auto 0px;
    margin-right: 15px;

    height: 20px;
    width: 5px;

    display: flex;
    flex-direction: column;
}

.super_app_menu_dot{
    height: 4px;
    width:  4px;
    background: #fff;
    border-radius: 50%;
}

.super_app_menu_dot_middle{
    height: 4px;
    width:  4px;
    background: #fff;
    border-radius: 50%;
    margin:3px 0px;
}


.super_app_dot_menu_section{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    overflow: hidden;
    z-index: 9;
    width:  0;
    height: 0;
    transition: width 350ms ease-in-out, height 350ms ease-in-out;
}

.super_app_dot_menu_section.open{
    width: 100px;
    height: 39px;
}
.super_app_dot_menu_option{
    font-size: 20px;
    color: black;
    padding: 8px 10px;
    white-space: nowrap;
}

.super_app_info_section{
    position: fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100%;
    background: rgba(24, 23, 23, 0.5);
    z-index: 99;
    display: none;
    opacity: 0;
    transition: all 0.18s ease-in-out;
}

.super_app_info_section_box_header{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.super_app_info_section_box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 12px;
}

.super_app_info_section_box_detail{
    font-size: 16px;
    line-height: 22px;
}

.super_app_content{
  height:100%;
}

.super_app_switch_box{
  display:flex;
  height:100px;
  padding:0px 50px;
  justify-content:space-between;
}

.toogle_switch_one{
  margin:0 12px;
}

.toogle_switch_two{
  margin:0 12px;
}

.super_app_mic_box{
  position:relative;
  width:100%;
  height:100px;
  
}

.super_app_search_mice_btn{
    height: 60px;
    width: 60px;
    color: #fff;
    background:#0099ff;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    
    left: 0px;
    right: 0px;
    
    bottom:18px;
    
    text-align: center;
    margin: 0 auto;
    
    
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 40%);
   

}

.super_app_search_mice_btn.open{
    animation: btn_prograss_shdow 1.1s infinite ease-out;
}


@keyframes btn_prograss_shdow{
    0%{
        box-shadow: 0px 0px 0px 0px #0099ff88;
    }

    100%{
        box-shadow: 0px 0px 4px 10px #0099ff88;
    }
}

.super_app_search_mice_main_btn{
    padding: 10px 18px;
    
    
}

/*
Project:	Toggle Switchy
Version:	1.14
Updated:	8/20/2020
Author:		Adam Culpepper | @adamculpepper
Website:	https://toggleswitchy.com
Docs:		https://github.com/adamculpepper/toggle-switchy
Issues:		https://github.com/adamculpepper/toggle-switchy/issues
Releases:	https://github.com/adamculpepper/toggle-switchy/releases
*/

/* Customizable styles */

/* Colors: Default (blue) */
.toggle-switchy {color:#fff;}
.toggle-switchy > input + .toggle:before {content:'ON';}
.toggle-switchy > input + .toggle:after {content:'OFF';}
.toggle-switchy > input + .toggle > .switch {background:#fff;}
.toggle-switchy > input + .toggle + .label {color:#000;}
.toggle-switchy > input:checked + .toggle {background:#0099ff;}
.toggle-switchy > input:not(:checked) + .toggle {background:#ccc;}
.toggle-switchy > input:checked + .toggle > .switch {border:3px solid #3498db;}
.toggle-switchy > input:not(:checked) + .toggle > .switch {border:3px solid #ccc;}
.toggle-switchy > input:focus + .toggle,
/*.toggle-switchy > input:active + .toggle {box-shadow:0 0 5px 3px rgba(0, 119, 200, 0.50);}
*/
/* Rounded switch corners */
.toggle-switchy > input + .toggle {border-radius:4px;}
.toggle-switchy > input + .toggle .switch {border-radius:6px;}

/* //////////////////////////
CORE STYLES BELOW - NO TOUCHY
////////////////////////// */
.toggle-switchy {display:inline-flex; align-items:center; user-select:none; position:relative; vertical-align:middle; margin-bottom:0;}
.toggle-switchy:hover {cursor:pointer;}
.toggle-switchy > input {position:absolute; opacity:0;}
.toggle-switchy > input + .toggle {align-items:center; position:relative;}
.toggle-switchy > input + .toggle {overflow:hidden; position:relative; flex-shrink:0;}
.toggle-switchy > input[disabled] + .toggle {opacity:0.5;}
.toggle-switchy > input[disabled] + .toggle:hover {cursor:not-allowed;}
.toggle-switchy > input + .toggle {width:100%; height:100%; margin:0; cursor:pointer;}
.toggle-switchy > input + .toggle > .switch {display:block; height:100%; position:absolute; right:0; z-index:3; box-sizing:border-box;}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {display:flex; align-items:center; position:absolute; z-index:2; height:100%;}
.toggle-switchy > input + .toggle:before {right:55%;}
.toggle-switchy > input + .toggle:after {left:50%;}
.toggle-switchy > input + .toggle + .label {margin-left:10px;}
.toggle-switchy[data-label='left'] > input + .toggle {order:2;}
.toggle-switchy[data-label='left'] > input + .toggle + .label {order:1; margin-left:0; margin-right:10px;}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {opacity:0;}
.toggle-switchy > input:checked + .toggle:before {opacity:1;}
.toggle-switchy > input:checked + .toggle:after {opacity:0;}

/* Transitions */
.toggle-switchy > input + .toggle {transition:background 200ms linear, box-shadow 200ms linear;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {transition:all 200ms linear;}
.toggle-switchy > input + .toggle > .switch {transition:right 200ms linear, border-color 200ms linear;}
/* //////////////////////////
CORE STYLES ABOVE - NO TOUCHY
////////////////////////// */

/* Size: Extra Large */
.toggle-switchy[data-size='xl'] > input + .toggle							{width:85px; height:40px;}
.toggle-switchy[data-size='xl'] > input + .toggle > .switch					{width:40px;}
.toggle-switchy[data-size='xl'] > input + .toggle:before,
.toggle-switchy[data-size='xl'] > input + .toggle:after						{font-size:1.2rem;}
.toggle-switchy[data-size='xl'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 40px);}

/* Size: Large */
.toggle-switchy[data-size='lg'] > input + .toggle							{width:75px; height:35px;}
.toggle-switchy[data-size='lg'] > input + .toggle > .switch					{width:35px;}
.toggle-switchy[data-size='lg'] > input + .toggle:before,
.toggle-switchy[data-size='lg'] > input + .toggle:after						{font-size:1rem;}
.toggle-switchy[data-size='lg'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 35px);}

/* Size: Default (Medium) */
.toggle-switchy > input + .toggle											{width:65px; height:30px;}
.toggle-switchy > input + .toggle	> .switch								{width:30px;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after										{font-size:0.8rem;}
.toggle-switchy > input:not(:checked) + .toggle > .switch					{right:calc(100% - 30px);}

/* Size: Small */
.toggle-switchy[data-size='sm'] > input + .toggle							{width:55px; height:25px;}
.toggle-switchy[data-size='sm'] > input + .toggle > .switch					{width:25px;}
.toggle-switchy[data-size='sm'] > input + .toggle:before,
.toggle-switchy[data-size='sm'] > input + .toggle:after						{font-size:0.7rem;}
.toggle-switchy[data-size='sm'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 25px);}

/* Size: Extra Small */
.toggle-switchy[data-size='xs'] > input + .toggle							{width:45px; height:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle > .switch					{width:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle:before,
.toggle-switchy[data-size='xs'] > input + .toggle:after						{font-size:0.5rem;}
.toggle-switchy[data-size='xs'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 20px);}

/* Style: Rounded */
.toggle-switchy[data-style='rounded'] > input + .toggle,
.toggle-switchy[data-style='rounded'] > input + .toggle > .switch			{border-radius:50px;}
.toggle-switchy[data-style='rounded'] > input + .toggle:before				{right:50%;}
.toggle-switchy[data-style='rounded'] > input + .toggle:after				{left:50%;}

/* Style: Square */
.toggle-switchy[data-style='square'] > input + .toggle						{border-radius:0;}
.toggle-switchy[data-style='square'] > input + .toggle .switch				{border-radius:0;}

/* Text: Off */
.toggle-switchy[data-text='false'] > input + .toggle:before,
.toggle-switchy[data-text='false'] > input + .toggle:after					{content:'';}
.toggle-switchy[data-text='false'][data-size='xl'] > input + .toggle		{width:80px;}
.toggle-switchy[data-text='false'][data-size='lg'] > input + .toggle		{width:70px;}
.toggle-switchy[data-text='false'] > input + .toggle						{width:60px;}
.toggle-switchy[data-text='false'][data-size='sm'] > input + .toggle		{width:50px;}
.toggle-switchy[data-text='false'][data-size='xs'] > input + .toggle		{width:40px;}

/* Color: Red */
.toggle-switchy[data-color='red'] > input:checked + .toggle					{background:#e74c3c;}
.toggle-switchy[data-color='red'] > input:checked + .toggle > .switch		{border-color:#e74c3c;}

/* Color: Orange */
.toggle-switchy[data-color='orange'] > input:checked + .toggle				{background:#e67e22;}
.toggle-switchy[data-color='orange'] > input:checked + .toggle > .switch	{border-color:#e67e22;}
 
 /* Color: Yellow */
.toggle-switchy[data-color='yellow'] > input:checked + .toggle				{background:#f1c40f;}
.toggle-switchy[data-color='yellow'] > input:checked + .toggle > .switch	{border-color:#f1c40f;}

/* Color: Green */
.toggle-switchy[data-color='green'] > input:checked + .toggle				{background:#2ecc71;}
.toggle-switchy[data-color='green'] > input:checked + .toggle > .switch		{border-color:#2ecc71;}

/* Color: Blue */
.toggle-switchy[data-color='blue'] > input:checked + .toggle				{background:#0099ff}
.toggle-switchy[data-color='blue'] > input:checked + .toggle > .switch		{border-color:#0099ff;}

/* Color: Purple */
.toggle-switchy[data-color='purple'] > input:checked + .toggle				{background:#9b59b6;}
.toggle-switchy[data-color='purple'] > input:checked + .toggle > .switch	{border-color:#9b59b6;}

/* Color: Gray */
.toggle-switchy[data-color='gray'] > input:checked + .toggle				{background:#555;}
.toggle-switchy[data-color='gray'] > input:checked + .toggle > .switch		{border-color:#555;}
